body {
  background-color: black ;
  color: yellow ;
  font-family: "Futura", "Gill Sans" ;
  font-size: 1.5em ;
  padding-left: 76px ;
}

h1 {
  font-size: 6em ;
  font-variant: small-caps ;
  margin-bottom: 0em ;
}

.nav {
  margin-bottom: 23px ;
}

a {
  color: yellow ;
  text-decoration: none ;
}
a:hover {
  color: black ;
  background-color: yellow ;
}

table {
  padding-left: 23px ;
  font-size: 1.1em ;
}

th {
  border-style: dotted ;
  border-width: 1px ;
  border-color: yellow ;
  font-variant: small-caps ;
  text-align: left ;
  padding: 10px ;
}

td {
  padding: 10px ;
  border-style: dotted ;
  border-width: 1px ;
  border-color: yellow ;
}

